In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ks-projects-201801.csv')
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/9/2015,1000.0,8/11/2015 12:12,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,11/1/2017,30000.0,9/2/2017 4:43,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2/26/2013,45000.0,1/12/2013 0:20,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,4/16/2012,5000.0,3/17/2012 3:24,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,8/29/2015,19500.0,7/4/2015 8:35,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [3]:
df2 = df.drop(columns = ["ID", "name", "category", "goal", "pledged", "usd pledged", "currency", "country"])
df2.head()

,main_category,deadline,launched,state,backers,usd_pledged_real,usd_goal_real
0,Publishing,10/9/2015,8/11/2015 12:12,failed,0,0.0,1533.95
1,Film & Video,11/1/2017,9/2/2017 4:43,failed,15,2421.0,30000.00
2,Film & Video,2/26/2013,1/12/2013 0:20,failed,3,220.0,45000.00
3,Music,4/16/2012,3/17/2012 3:24,failed,1,1.0,5000.00
4,Film & Video,8/29/2015,7/4/2015 8:35,canceled,14,1283.0,19500.00

In [4]:
df3 = df2[(df2.state == "failed") | (df2.state == "successful")]
df3.head()

,main_category,deadline,launched,state,backers,usd_pledged_real,usd_goal_real
0,Publishing,10/9/2015,8/11/2015 12:12,failed,0,0.0,1533.95
1,Film & Video,11/1/2017,9/2/2017 4:43,failed,15,2421.0,30000.00
2,Film & Video,2/26/2013,1/12/2013 0:20,failed,3,220.0,45000.00
3,Music,4/16/2012,3/17/2012 3:24,failed,1,1.0,5000.00
5,Food,4/1/2016,2/26/2016 13:38,successful,224,52375.0,50000.00

In [5]:
df3.dtypes

main_category        object
deadline             object
launched             object
state                object
backers               int64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

In [6]:
df3["deadline"] = pd.to_datetime(df3["deadline"])
df3["launched"] = pd.to_datetime(df3["launched"])

C:\Users\oconn\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\oconn\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# df3["launched"] = df3["launched"].dt.strftime("%m/%d/%Y")

In [7]:
#New column for duration
df3["duration"] = df3["deadline"] - df3["launched"]
df3.head()

C:\Users\oconn\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,main_category,deadline,launched,state,backers,usd_pledged_real,usd_goal_real,duration
0,Publishing,2015-10-09,2015-08-11 12:12:00,failed,0,0.0,1533.95,58 days 11:48:00
1,Film & Video,2017-11-01,2017-09-02 04:43:00,failed,15,2421.0,30000.00,59 days 19:17:00
2,Film & Video,2013-02-26,2013-01-12 00:20:00,failed,3,220.0,45000.00,44 days 23:40:00
3,Music,2012-04-16,2012-03-17 03:24:00,failed,1,1.0,5000.00,29 days 20:36:00
5,Food,2016-04-01,2016-02-26 13:38:00,successful,224,52375.0,50000.00,34 days 10:22:00

In [8]:
#Positive values went beyond goal; negative values did not reach goal
df3["balance"] = df3["usd_pledged_real"] - df3["usd_goal_real"]
df3.head()

C:\Users\oconn\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,main_category,deadline,launched,state,backers,usd_pledged_real,usd_goal_real,duration,balance
0,Publishing,2015-10-09,2015-08-11 12:12:00,failed,0,0.0,1533.95,58 days 11:48:00,-1533.95
1,Film & Video,2017-11-01,2017-09-02 04:43:00,failed,15,2421.0,30000.00,59 days 19:17:00,-27579.00
2,Film & Video,2013-02-26,2013-01-12 00:20:00,failed,3,220.0,45000.00,44 days 23:40:00,-44780.00
3,Music,2012-04-16,2012-03-17 03:24:00,failed,1,1.0,5000.00,29 days 20:36:00,-4999.00
5,Food,2016-04-01,2016-02-26 13:38:00,successful,224,52375.0,50000.00,34 days 10:22:00,2375.00

In [9]:
df3["state_binary"] = df3["state"].replace({"failed": 0, "successful": 1})
df3.head()

C:\Users\oconn\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,main_category,deadline,launched,state,backers,usd_pledged_real,usd_goal_real,duration,balance,state_binary
0,Publishing,2015-10-09,2015-08-11 12:12:00,failed,0,0.0,1533.95,58 days 11:48:00,-1533.95,0
1,Film & Video,2017-11-01,2017-09-02 04:43:00,failed,15,2421.0,30000.00,59 days 19:17:00,-27579.00,0
2,Film & Video,2013-02-26,2013-01-12 00:20:00,failed,3,220.0,45000.00,44 days 23:40:00,-44780.00,0
3,Music,2012-04-16,2012-03-17 03:24:00,failed,1,1.0,5000.00,29 days 20:36:00,-4999.00,0
5,Food,2016-04-01,2016-02-26 13:38:00,successful,224,52375.0,50000.00,34 days 10:22:00,2375.00,1

In [10]:
# Export combined file
df3.to_csv("kickstarter_2018_revised.csv")

In [ ]:
df3["duration_group"] = np.where(df3["duration"])